# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.GRHm.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\HP\Downloads\GRHm\.idea\.idea.GRHm\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
